upstream test {
{% for i in  upstream  %}
server {{upstream[i]['server']}};
{% endfor %}
}
server {
listen 80;
listen [::]:80;
server_name {{ item }};
root /var/www/{{ item }};
index index.html;
try_files $uri /index.html;
}
